a[href="https://aistudio.instagram.com/?utm_source=ig_web_nav"]
{
    display: none;
}

a[href^="https://www.threads.net/?"]
{
    display: none;
}

a[href^="/reels/"] {
    display: none;
}

a[href^="/explore/"] {
    display: none;
}
