a[href="https://aistudio.instagram.com/?utm_source=ig_web_nav"]
{
    display: none;
}

a[href^="https://www.threads.com/?"]
{
    display: none;
}

a[href$="/reels/"],
a[href^="/reels/"] {
  display: none !important;
}

a[href$="/explore/"] {
  display: none !important;
}

/* Hide videos that are reels based on the presence of a "Watch again on Instagram" label */
div[style*="background-image"]:has(a[href*="/reel/"] > div > div > div > div > span:not([class])) {
    display: none !important;
}


a[href^="https://www.meta.ai/"]
{
    display: none;
}
